@import url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');

/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    color: #f0f8ff;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
    font-family: Galmuri14, Helvetica, sans-serif;
}
